{% extends 'graduateWork/base.html' %}
{% load categories %}
{% load file_name %}
{% load static %}

{% block content %}
<div class="border-start">
    <div class="row align-items-start">
        <div class="col"></div>
        <div class="col-md-6">
            <h4 class='text-center'>Информация об авторе</h4>
            <table class='table table-borderless table-sm'>
                <thead>
                    <tr>
                      <th class='text-center' scope="col">Псевдоним</th>
                      <th class='text-center' scope="col">Почта</th>
                      <th class='text-center' scope="col">Дата регистрации</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td class='text-center border-top'>
                          <a href="{% url 'graduateWork/account' document.publisher.username %}">{{document.publisher.username}}</a>
                        </td>
                      <td class='text-center border-top'>
                          {% if document.publisher.email %}
                            {{document.publisher.email}}
                          {% else %}
                            Не указана
                          {% endif %}
                      </td>
                      <td class="text-center border-top">{{document.publisher.date_joined}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col" align='end'>
          {% if request.user == document.publisher %}
            <a href="{% url 'graduateWork/documentUpdate' slug=document.slug %}" class="btn btn-warning">Обновить</a>
            <a href="{% url 'graduateWork/documentDelete' slug=document.slug %}" class="btn btn-danger">Удалить</a>
          {% endif %}
        </div>
    </div>

    <h4 class="mx-2 border-top text-center">«{{document.title}}»</h4>
    <div class="mx-3">
        <h5>Аннотация на русском:</h5>
        <p align='justify'>{{document.abstract_ru}}</p>
        <h5>Аннотация на английском:</h5>
        <p align='justify'>{{document.abstract_en}}</p>

        <table class='table table-borderless table-sm mb-2'>
            <thead>
                <tr>
                  <th class='text-center' scope="col">Тип</th>
                  <th class='text-center' scope="col">Категория</th>
                  <th class='text-center' scope="col">Формат</th>
                  <th class='text-center' scope="col">Загружено</th>
                  <th class='text-center' scope="col">Изменено</th>
                  <th class='text-center' scope="col">Опубликовано</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td class='text-center border-top'>{{document.document_type|document_type_verbose}}</td>
                  <td class='text-center border-top'>{{document.category.name}}</td>
                  <td class='text-center border-top'>{{document.file_format}}</td>
                  <td class='text-center border-top'>{{document.uploaded_at}}</td>
                  <td class='text-center border-top'>{{document.updated_at}}</td>
                  <td class='text-center border-top'>{{document.published_at}}</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-borderless table-sm">
            <thread>
                <tr>
                    <th class="text-center" scope='col'>Число скачиваний</th>
                    <th class="text-center" scope='col'>Число просмотров</th>
                </tr>
            </thread>
            <tbody>
                <tr>
                    <td class="text-center border-top">{{statistic.download_count}}</td>
                    <td class="text-center border-top">{{statistic.view_count}}</td>
                </tr>
            </tbody>
        </table>
        <div style='text-align:end;display:block;'>
            <a class='btn btn-success' style='text-decoration: none; color: white;' href="{% url 'graduateWork/download' username=document.publisher.username file_name=document.file.name|get_file_name %}">Скачать <img src="{% static 'download.png' %}" height='20px;' alt="скачать"></a>
        </div>
    </div>
</div>
{% endblock content %}