<!DOCTYPE html>
<html lang="en">
  {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
          rel="stylesheet"
          type="text/css"
          href="{% static "bootstrap/css/bootstrap.min.css" %}"
        />
        {% block extra_styles%}{% endblock extra_styles %}
        <link rel='icon' href="{% static 'favicon.ico' %}" type='image/x-icon'>
        <title>{% block title %} {{ title }} {% endblock title %}</title>
    </head>

    <body>
   
   {% block navigate %}
      {% include 'graduateWork/inc/_header.html' %}
   {% endblock %}
    
    {% block main %}
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
          <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <strong class="me-auto">Информация по сайту</strong>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
              Сайт представляет собой программную реализацию для выпускной квалификационной работы 
            </div>
          </div>
    </div>
      <div class="mx-5 mt-3 row">
          <div class="col-md-2">
            {% block side_bar %}{% include 'bibliofund/inc/category.html' %}{% endblock side_bar %}
          </div>
          <div class="col-md-10">
            {% block content %}
                <h5>Обязательно переопредели блок content! Он не должен быть пустым!</h5>
            {% endblock content %}
          </div>
      </div>
    {% endblock %}

    {% block footer %}
      {% include 'graduateWork/inc/_footer.html' %}
    {% endblock footer %}
    
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    {% block extra_scripts %}
    <script>
        var toastTrigger = document.getElementById('liveToastBtn')
        var toastLiveExample = document.getElementById('liveToast')
        if (toastTrigger) {
            toastTrigger.addEventListener('click', function () {
                var toast = new bootstrap.Toast(toastLiveExample)

            toast.show()
          })
        }
    </script>
    {% endblock extra_scripts %}
    </body>
</html>