<!DOCTYPE html>
<html lang="en">
  {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
          rel="stylesheet"
          type="text/css"
          href="{% static "bootstrap/css/bootstrap.min.css" %}"
        />
        {% block extra_styles%}{% endblock extra_styles %}
        <link rel='icon' href="{% static 'favicon.ico' %}" type='image/x-icon'>
        <title>{% block title %} {{ title }} {% endblock title %}</title>
    </head>

    <body>
   
   {% block navigate %}
      {% include 'graduateWork/inc/_header.html' %}
   {% endblock %}
    
    {% block main %}
      <div class="mx-5 mt-3 row">
          <div class="col-md-2">
            {% block side_bar %}{% include 'bibliofund/inc/category.html' %}{% endblock side_bar %}
          </div>
          <div class="col-md-10">
            {% block content %}
                <h5>Обязательно переопредели блок content! Он не должен быть пустым!</h5>
            {% endblock content %}
          </div>
      </div>
    {% endblock %}

    {% block footer %}
      {% include 'graduateWork/inc/_footer.html' %}
    {% endblock footer %}
    
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    {% block extra_scripts %}
    <script src="{% static 'other/info.js' %}"></script>
    {% endblock extra_scripts %}
    </body>
</html>